html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

section {
    width: 100vw;
    height: 100vh;
}

#dog-detail {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

#dog-images {
    display: flex;
    flex-direction: column;
}

#dog-name__modal {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#dog-names {
    margin: 0 16px;
}

#inicio {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://source.unsplash.com/1920x1080/?gameboy-color");
    background-repeat: no-repeat;
    background-size: cover;
}

#juego {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

#modal {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(225, 225, 225);
    height: 70vmin;
    width: 90vmin;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    padding: 0 16px 16px 16px;
    flex-direction: column;
}

.button {
    padding: 8px 32px;
    border-radius: 4px;
    border: 2px solid black;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.button-back {
    cursor: pointer;
    font-size: 30px;
    margin-left: 16px;
}

.buttons-restart {
    position: absolute;
    right: 16px;
    bottom: 8px;
}

.button-start {
    margin-bottom: 20px;
    display: block;
}

.close__modal {
    cursor: pointer;
}

.correct {
    background-color: green !important;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.hidden {
    display: none !important;
}

.dog-image {
    height: 15vmin;
    width: 15vmin;
    object-fit: cover;
    object-position: top;
    border: 2px solid black;
    cursor: pointer;
}

.dog-image__container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dog-name {
    font-weight: bold;
    text-transform: capitalize;
}

.dog-name__container {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 2px solid black;
    height: 5vmin;
    width: 200px;
    margin: 8px 0;
    cursor: pointer;
}

.instrucciones {
    text-align: center;
    margin-top: 0;
    margin-bottom: 16px;
}

.modal-close__button {
    text-align: right;
}

.modal-description__container {
    position: relative;
    padding: 0 8px;
    width: 50%;
    height: calc(70vmin - 22px);
    overflow-y: scroll;
}

.modal-image__container {
    /*height: 100%;*/
    height: calc(70vmin - 80px);
    width: 50%;
}

.modal-info__container {
    display: flex;
    flex-direction: row;
}

.name-response {
    border-radius: 4px;
    border: 2px solid black;
    height: 5vmin;
    margin: 8px 0;
}

.perros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex: 1;
}